body{
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;   
}
p{
    line-height: 2;
}
hr{
    border-color: grey;
    border-style: dotted none none;
    border-width: 6px;
    width: 5rem;
    margin:100px auto;
}

h1{
    margin: 0px auto 0 auto;
    line-height: 2;
    font-family: 'Sacramento', cursive;
    font-size: 5.6rem;
    color: #30E3CA;

}
h2{
    margin:0 auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #30E3CA;
    font-weight: normal;
}
h3{
    font-family: 'Merriweather', serif;
    color:#11999E;
}
.top-container{
    background-color: #E4F9F5;
    position: relative;
    padding-top: 10%;
}
.middle-container{
    width: 50%;
    margin: 5rem auto;
}
.bottom-container{
    background-color: #30E3CA;
    padding: 50px 0;
    height: 66px;
}
.skill-row{
    margin: 50px auto 50px auto;
    text-align: left;
}
.contact-me{
    margin:0 auto;
}
.btn-around{
    margin:4rem auto;
}
.btn {
    background: #6ce2e6;
    background-image: -webkit-linear-gradient(top, #6ce2e6, #29a3a3);
    background-image: -moz-linear-gradient(top, #6ce2e6, #29a3a3);
    background-image: -ms-linear-gradient(top, #6ce2e6, #29a3a3);
    background-image: -o-linear-gradient(top, #6ce2e6, #29a3a3);
    background-image: linear-gradient(to bottom, #6ce2e6, #29a3a3);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }
.footer-link{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
    padding: 0 3rem;
    margin: 30px 0;
    text-decoration: none;
}
.footer-link:hover{
    color: white;
}
.copyright{
    font-family: 'Montserrat', sans-serif;
    margin: 2rem auto 0 auto;
    font-size: 12px;
    color: white;
}
.profile-pic{
    height: 200px;
    border-radius: 6rem;
}
.right-pic{
    height: 7.5rem;
    border-radius: 8rem;
    float:right;
    margin: 0 0 0 0.8rem;
}
.left-pic{
    height: 7.5rem;
    float:left;
    margin: 0 1rem 0 0;
}
.top-cloud{
    position: absolute;
    right: 25%;
    top:5%;
}
.bottom-cloud{
    position: absolute;
    left:25%;
    bottom:30%;
}